body {
    font-family: 'Inter ', sans-serif;
    background-color: #fafafa;
    color: #111111;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
 
  img {
    display: block;
    max-width: 100%;
    /* height: auto; */
  }
  
  button {
    cursor: pointer;
  }


.container{
    min-width: 320px;
    max-width: 375px;
  
    padding: 0 20px;
    margin: 0 auto;

}
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    } 
}
  
@media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding: 0 15px;  
    }
}

/* Mobile style */
.contacts{
    background: #576f35;
    padding: 80px 20px;
    width: 375px;
}

.contacts-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08333;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.accsent{
    color: #d4bfc4;
}

.contacts-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
    margin-bottom: 40px;
}


/* Загальний стиль форми */

.form-section {
    background: #fbfbfb;
    margin: 0 auto;
    border-radius: 30px;
    padding: 40px 20px;
    max-width: 335px;
    margin-bottom: 80px;
  }
  
  /* Стиль описової частини */
  
  .form-description {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 40px;
  }
  
  .form-description h2 {
    font-size: 20px;
    color: #333;
  }
  
  .form-description .highlight {
    color: #7a3145;
  }
  
  .form-description .accsent {
    color: #576f35;
  }
  
  /* Загальний стиль для всіх input та textarea */

.contact-form{
    display: flex;
    flex-direction: column; 
    gap: 16px;
}

.input-name, 
.input-email{
    width: 100%;
    padding: 14px; 
    font-size: 16px;
    border: 1px solid #858585; 
    outline: none;
    border-radius: 30px;
    transition: border-color 0.3s ease;
  }
  

.input-email:placeholder-shown {
    border-color: #858585; 
  }
  
  
  .input-email:focus:placeholder-shown {
    border-color: #858585; 
  }
  
  
  .input-email:focus:valid {
    border-color: #3cbc81; /* Зелений бордер */
  }
  
 
  .input-email:focus:invalid {
    border-color: #E74A3B; /* Червоний бордер */
  }
  
 
  .input-email:invalid:placeholder-shown {
    border-color: #858585; 
  } 


 
 .input-comment{
    border: 1px solid #858585;
    border-radius: 15px;
    width: 100%;
    padding: 14px;
    outline: none;
 }
  
  /* Кнопка */
   .submit-button {
        border-radius: 30px;
        border: inherit;
        width: 100%;
        padding: 14px; 
        background: #7a3145;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11111;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
  }
  
  .submit-button:hover {
    background-color: #d4bfc4;
  }
 
.social{
    border-radius: 30px;
    padding: 40px 20px;
    max-width: 335px;
    height: 456px;
    background: #7a3145;
}
.social-img{
    border-radius: 15px;
    margin-bottom: 20px;
} 
.social-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    color: #d4bfc4;
    margin-bottom: 16px;
}
.social-list{
    width: 295px;
    height: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px; 
    list-style: none;
    padding: 0;
}
.social-item{
    
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
}
  .social-item:not(:last-child)::after {
    content: " /"; 
    margin-left: 8px; 
  }
/* Tablet style */

@media only screen and (min-width: 768px) {
    .contacts{
        width: 768px;
        padding: 100px 64px;
    }
    .container {
      max-width: 640px;
      
    }
    .contacts-title{
        font-size: 64px;
        line-height: 1;
        margin-bottom: 24px;
    }
    .contacts-text{
        font-size: 16px;
        line-height: 1.25;
        color: #fbfbfb;
        margin-bottom: 52px;
    } 
    
    .form-section {
        padding: 72px 100px;
        max-width: 640px;
      
      }
      .form-description {
        
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #141414;
        margin-bottom: 52px;
      }

      .contact-form{
        display: flex;
        flex-direction: column; 
        gap: 24px;
    }
   
    .input-name, 
    .input-email{
    padding: 16px; 
  }
  .input-comment{
    padding: 16px;
   
 }
 .submit-button {
    padding: 16px; 
    
}

.submit-button:hover {
background-color: #d4bfc4;
}

.social{
    
    padding: 52px;
    max-width: 640px;
    height: 528px;
   
}
.social-img{
    max-width: 100%;
    margin-bottom: 52px;
} 
.social-text{
    font-size: 16px;
    line-height: 1.25;
    
}
.social-list{
    display: flex;
    /* gap: 31px; */
    width: 492px;
   
}
.social-list{
    display: flex;
    gap: 12px; 
    
}

  .social-item:not(:last-child)::after {
    content: " /"; 
    margin-left: 12px; 
  }
}

/* Desktop style */


@media only screen and (min-width: 1280px) {

    .contacts{
        width: 1280px;
        padding: 100px;
    }
    .container {
      max-width: 1080px;
      
    }
   .form-section{
    padding: 52px 48px;
    margin: 0;
   }
    .flex {
        max-width: 1080px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 32px;
    }
      .contact-form{
        display: flex;
        gap: 24px;
        max-width: 524px;
       
        }
        .social{
            padding: 52px 48px;
            /* max-width: 524px;  */
        }
        .social-img{
            max-width: 100%;
            margin-bottom: 80px;
        } 
        .social-list{
            width: 386px;
            height: 56px;
          
     
        }
        .social-item:not(:last-child)::after {
            content: " /"; 
            margin-left: 16px; 
          } 
}
  





  
  
   
 

 